<section id="venda">

    <div class="saleView" ng-controller='vendaCtrl'>
        <header class="barra-menu">
            <div class="menu">
                <md-menu>
                    <!-- Trigger element is a md-button with an icon -->
                    <md-button ng-click="$mdOpenMenu($event)" class="icone" aria-label="Abrir o menu">
                        <md-icon></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="doSomething()">Escolha o Supermercado</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="doSomething()">Sair</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <div class="carrinho">
                  <div class="ico-carrinho">

                  </div>
                  <div class="valor-carrinho">
                    <p>
                      R$ {{valorTotal}}
                    </p>
                  </div>
                </div>
            </div>
        </header>

        <div class="content-prod" ng-repeat='produto in produtos'>

            <div class="img-prod">
                <div class="img">

                    <img src="img/produtos/{{produto.ean}}.jpg" alt="" />
                </div>
            </div>

            <div class="info-prod">
                <div class="title-prod">
                    <h3>{{produto.nome}}</h3>
                </div>
                <div class="ean-prod">
                    <p>
                        {{produto.ean}}
                    </p>
                </div>
            </div>


            <div class="price-prod">
                <div class="qty-prod">
                    <input type="number" name="qty" ng-model="produto.qtd">

                </div>
                <div class="price-unit-prod">
                    <p>R$ {{produto.preco}}</p>
                </div>
                <div class="price-total-prod">
                    <p>R$ {{produto.preco*produto.qtd}}</p>
                </div>

            </div>
            <div class="qty">
                <div class="qty-buton up ripple ripple-darc" ng-click="adicionarProduto($index)">

                </div>

                <div class="qty-buton down ripple ripple-darc" ng-click="removerProduto($index)">

                </div>

            </div>


        </div>
    </div>


</section>
