#venda{
	width: 100%;
	min-height: 100vh;
	top: 0px !important;
	background: #4CAF50;
  	background: -webkit-linear-gradient(#4CAF50, #00BCD4);
  	background: -o-linear-gradient(#4CAF50, #00BCD4);
  	background: -moz-linear-gradient(#4CAF50, #00BCD4);
  	background: linear-gradient(#4CAF50, #00BCD4);
}

.barra-menu {
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #12a5ce;
		box-shadow: 0 1px 1px #4527A0;
    -webkit-box-shadow: 0 1px 1px #4527A0;
    -moz-box-shadow: 0 1px 1px #4527A0;
    z-index: 3;
}

.barra-menu > .menu{
	height: 100%;
  margin: auto;
}

@media screen and (max-width: 499px) {
  .barra-menu > .menu{
    width: 380px;
  }
}
@media screen and (min-width: 500px){

  .barra-menu > .menu{
    width: 442px;
  }
}

.carrinho{
	width: 144px;
	height: 42px;
	margin-top: 4px;
	background-color: #eaeaea;
	float: right;
}
.ico-carrinho{
	width: 42px;
	height: 42px;
	background-image: url('../../img/ic_carrinho.svg');
	background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: center;
	float: left;
	position: relative;
}
.valor-carrinho{
	width: 100px;
	height: 42px;
	position: relative;
	float: right;
}
.valor-carrinho p{
	font-size: 20px;
	font-weight: bold;
	margin-top: 6px;
	color: #12a5ce;
}

.icone{
  width: 45px;
  height: 45px;
  float: left;
  margin-left: 4px;
  background-image: url('../../img/menu.svg');
  background-size: 45px 45px;
  background-repeat: no-repeat;

}


.content-prod {
    margin: auto;

    height: 80px;
    background-color: #fff;
    margin-bottom: 4px;
		box-shadow: 0 1px 1px #4527A0;
    -webkit-box-shadow: 0 1px 1px #4527A0;
    -moz-box-shadow: 0 1px 1px #4527A0;
}

.img-prod {
    margin-top: 4px;
    margin-left: 4px;
    position: relative;
    float: left;
}

.img{
  width: 70px;
  height: 70px;
  border: 1px solid #eaeaea;
  margin: auto;
  float: left;
}

.info-prod {
    width: 170px;
    height: 70px;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #eaeaea;
    position: relative;
    float: left;
}

.title-prod {
    width: 100%;
    height: 48px;
    position: relative;
    float: left;
}

.title-prod h3 {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    margin-top: 2px;
    margin-left: 4px;
    color: #4527A0;
}

.ean-prod {
    width: 100%;
    height: 18px;
    position: relative;
    float: left;
}

.ean-prod p {
    font-size: 9px;
    margin-left: 4px;
    margin-top: 4px;
    float: left;
    position: relative;
    color: #4527A0;
}

.price-prod {
    width: 120px;
    height: 70px;
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    background-color: #eaeaea;
    position: relative;
}

.price-prod p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-top: 4px;
    margin-right: 4px;
    float: right;
    color: #4527A0;
}

.price-unit-prod {
    width: 100%;
    height: 33px;
    position: relative;
}

.price-total-prod {
    width: 100%;
    height: 33px;
    position: relative;
}

.qty {
    width: 31px;
    height: 70px;
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    position: relative;
}

.qty-prod {
    width: 44px;
    height: 68px;
    margin-left: 4px;
    float: left;
    position: relative;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.qty-prod input {
    width: 100%;
    height: 18px;
    margin: 0px;
    margin-top: 22px;
    font-size: 24px;
    font-weight: bold;
    color: #4527A0;
    border: none;
    float: left;
    position: relative;
    background-color: transparent;
}

.qty-buton {
    width: 31px;
    height: 31px;
    position: relative;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0 1px 1px #4527A0;
    -webkit-box-shadow: 0 1px 1px #4527A0;
    -moz-box-shadow: 0 1px 1px #4527A0;
    margin-right: 4px;
}

.up {
    background-image: url('../../img/ic_add.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.down {
  background-image: url('../../img/ic_remove.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6px;
}


@media screen and (max-width: 499px) {
  .content-prod{
      width: 380px;
  }

  .content-prod > .img-prod{
    width: 19%;
  }

  .content-prod > .info-prod{
      width: 30%;
  }

  .content-prod > .price-prod{
    width: 36%;
  }

  .content-prod > .qty{
    width: 9%;
  }

}


@media screen and (min-width: 500px){
.content-prod{
    width: 442px;
}

.content-prod > .img-prod{
  width: 70px;
}

.content-prod > .info-prod{
    width: 170px;
}

.content-prod > .price-prod{
  width: 150px;
}

.content-prod > .qty{
  width: 31px;
}

}
